* {
    margin: 0; 
    padding: 0;   
}

[class*="col-"] {
    float: left;   
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


/*ESTILO PARA EL HEADER*/
header {
    display: flex;
}
.col-7 {
    display: grid;
    align-items: center;
}

#logoClinica {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    justify-self: center;
    width: 16rem;
}

/*ESTILO PARA EL LOG IN*/

body {
    height: 100vh;
}

main {
    padding: 10vh 0 25vh 0;
    border-top: solid grey;
    background-color: antiquewhite;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 25%,  rgb(236, 221, 200) 77%);
}

h2 {
    text-align: center;
}

form {
    display: grid;
    justify-content: center;
    margin:auto;
}

#usuario {
    margin: 0.7rem 0.7rem ;
}

#contraseña {
    margin: 0.7rem 0.7rem;
}

#sesion {
    margin: 2.2rem 1.2rem ;
}

/*ESTILO PARA EL FOOTER*/

.col-4 {
    padding: 20px 30px;
    justify-content: center;
}

footer {
    display:flex;
    justify-content: center;
    align-items: center;
    border-top: solid grey;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 25%, rgba(189,189,189,1) 77%);
    font-size: 0.8vw;
}

@media only screen and (max-width: 767px) {
    /*ESTILO PARA EL HEADER*/

    #logo {
         justify-self: center;
         width: 8rem;
    }

    /*ESTILO PARA EL FOOTER*/
     
    footer {
        font-size: 2vw;
    }
     
    .col-4 {
        padding: 10px 20px;
        justify-content: center;
    }
}
 